/*
 * Device Tree for DA850 EVM board
 *
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation, version 2.
 */
/dts-v1/;
/include/ "da850.dtsi"

/ {
	compatible = "ti,da850-evm", "ti,da850";
	model = "DA850/AM1808/OMAP-L138 EVM";

	soc {
		serial0: serial@1c42000 {
			status = "okay";
		};
		serial1: serial@1d0c000 {
			status = "okay";
		};
		serial2: serial@1d0d000 {
			status = "okay";
		};
		i2c0@1c22000 {
			status = "okay";
		};
	};
};
&pmx_core{
	pinctrl-names = "default";
	pinctrl-0 = <
		&i2c0_pins
	>;

	i2c0_pins: pinmux_i2c0_pins{
		pinctrl-single,bits = <
			0x10 0x00002200 0x0000ff00      /* I2C0_SDA, I2C0_SCL */
		>;
	};
};
