/*
 * Device Tree for DA850 EVM board
 *
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation, version 2.
 */
/dts-v1/;
/include/ "da850.dtsi"

/ {
	compatible = "ti,da850-evm", "ti,da850";
	model = "DA850/AM1808/OMAP-L138 EVM";

	soc {
		serial0: serial@1c42000 {
			status = "okay";
		};
		serial1: serial@1d0c000 {
			status = "okay";
		};
		serial2: serial@1d0d000 {
			status = "okay";
		};
		i2c0@1c22000 {
			status = "okay";

			tlv320aic3x: tlv320aic3x@18 {
				compatible = "ti,tlv320aic3x";
				reg = <0x18>;
			};
		};
		mcasp0: mcasp0@1d00000 {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&mcasp0_pins>;

			serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */
				0 0 0 0
				0 0 0 0
				0 0 0 1
				2 0 0 0 >;
		};
	};

	sound {
		compatible = "ti,da830-evm-audio";
		ti,model = "DA850 EVM";
		ti,audio-codec = <&tlv320aic3x>;
		ti,mcasp-controller = <&mcasp0>;
		ti,codec-clock-rate = <24576000>;
		ti,audio-routing =
			"Headphone Jack",       "HPLOUT",
			"Headphone Jack",       "HPROUT",
			"Line Out",             "LLOUT",
			"Line Out",             "RLOUT",
			"MIC3L",                "Mic Bias 2V",
			"MIC3R",                "Mic Bias 2V",
			"Mic Bias 2V",          "Mic Jack",
			"LINE1L",               "Line In",
			"LINE2L",               "Line In",
			"LINE1R",               "Line In",
			"LINE2R",               "Line In";
	};
};
&pmx_core{
	pinctrl-names = "default";
	pinctrl-0 = <
		&i2c0_pins
	>;

	i2c0_pins: pinmux_i2c0_pins{
		pinctrl-single,bits = <
			0x10 0x00002200 0x0000ff00      /* I2C0_SDA, I2C0_SCL */
		>;
	};
	mcasp0_pins: pinmux_mcasp_pins {
		pinctrl-single,bits = <
			0x0 0x01111111  0x0fffffff
			0x4 0x00011000  0x000ff000
		>;
	};
};
